<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HardwareTesting.Properties.Settings.ConnectionString"
            connectionString="Data Source=build-and-go.database.windows.net;User ID=db_dev;Password=a1_password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>